{{#block "dispositivosCliente"}}

<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
            <h2><b>Dispositivos</b></h2>
          </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Consumo Fijo (kWh)</th>
            			<th>Tipo</th>
            			<th>Estado</th>
            			<th><center>Encender</center></th>
            			<th><center>Apagar</center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
					{{#each dispositivosCliente}}
							<tr>
							<td>{{id}}</td>
							<td>{{nombre}}</td>
							<td>{{consumoFijo}}</td>
							
							{{#unless estado}}
								<td>Estandar</td>
							{{/unless}}
							
							{{#if estado}}
								<td>Inteligente</td>
							{{/if}}
							<td>{{estado}}</td>
							</td>
							<td>
							{{#if estado}}
							<form method="post" action="/encenderDispositivo">
							<div class="form-group">
              				<input id="encenderDispositivo" type="hidden" name="encenderDispositivo" class="form-control" value={{id}} required>
							<input type="submit" class="btn btn-primary" value="Encender">
							</div>
							</form>
							{{/if}}
							</td>
							<td>
							{{#if estado}}
							<form method="post" action="/apagarDispositivo">
							<div class="form-group">
              				<input id="apagarDispositivo" type="hidden" name="apagarDispositivo" class="form-control" value={{id}} required>
							<input type="submit" class="btn btn-danger" value="Apagar">
							</div>
							</form>
							{{/if}}
							</td>
							</tr>
							
					{{/each}}
                    </tr>
                    
                </tbody>
            </table>
      
        </div>
    </div>

{{/block}}